$primary   : #000;
$secondary : #C1C1C1;
$text      : #000;
$span      : #000;
$anchor    : #000;
$white     : #fff;
$black     : #000;
$acent     :#d20400;
$hover     :#D20400;
$star      :#FEBE3D;
$green     :#5BD200;
$canceled  :#9092AC;
$light02   :#f6f8f9;

$bg-white: #ffffff;
$bg-light: #fff3d9;
$bg-light02: #f6f8f9;
$faq:      #F1F0F8;


.primary{
    color: $primary;
}.secondary{
    color: $secondary;
}.text{
    color: $text;
}.span{
    color: $span;
}.anchor{
    color: $anchor;
}.white{
    color: $anchor;
}.black{
    color: $anchor;
}.hover{
    color: $hover;
}





.bg-white{
    background-color: $bg-white;
}.bg-light01{
    background-color: $bg-light;
}
.bg-light02{
    background-color: $bg-light02;
}
.bg-dark01{
    background-color: $acent;
}
.bg-black{
    background-color: $black;
}
.bg-white{
    background-color: $white;
}
.bg-red{
    background-color: $acent;
}.bg-green{
    background-color: $green;
}.bg-canceled{
    background-color: $canceled;
}



/* Made by Dev  chaeck box */
$checked-color: #34b93d;
$unchecked-color: #000;
$checkbox-height: 20px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;
/* Checkmark style starts */

/*================================================================
                    BUTTON
================================================================*/
.btn,
.btn::after {
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}
