a{
    cursor:pointer !important;
}
.Pointer{
    cursor:pointer !important;
}
.product_management table tr td.content ul li.heading a {
    color: #d20400;
}
.tabs03 .nav-tabs a {
    width: 180px;
    text-align: center;
}
.pro-sidebar .pro-menu {
    padding: 0;
    background: transparent;
}

.pro-sidebar > .pro-sidebar-inner {
    background: transparent;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    padding: 0;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-item {
    padding: 12px 15px;
    color: #fff;
}
.dashbord_outer .dashbord_left ul li a.isActive{
    background-color: #d20400;
}
.change_pass_outer .comman_from nav {
    width: 100%;
}

.comman_from .tab-content {
    width: 100%;
}
.order_pickup_outer {
    min-height: auto;
}
.order_Confirmed {
    min-height: auto;
}
.modal-gray.modal {
    background-color: #f6f8f9;
}
.errorMsg {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    width: 100%;
}
form .fileright input[type=file] {
    height: 30px;
}
.changImage {
    position: relative;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.changImage input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.dashbord_outer .dashbord_right .editsession {
    flex-wrap: wrap;
    text-align: center;
}
.dashbord_outer {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    min-height: 300px;
}

.mainPageWraper {
    width: 100%;
}
header .after_login ul li.notice .dropdown-menu {
    width: 500px;
    padding: 0;
    border: 0;
}
header .after_login ul li.notice .dropdown-toggle::after{
    display: none;
}
.Withdraw_outer {
    min-height: auto;
    padding: 0;
}
.Withdraw_outer .Withdraw_inner {
    max-width: 100%;
}
.Withdraw_outer .Withdraw_inner .cus_btn {
    margin: 15px auto 0;
}
form input, form textarea {
    color: #000;
    border-radius: 0;
    padding: 15px 15px;
    line-height: 1em;
    font-size: 15px;
    width: 100%;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f6f8f9;
    border: 1px solid #f6f8f9;
}
form  .user_image input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
}

.user_image {
    position: relative;
}
.dashbord_outer .dashbord_left {
    padding-bottom: 70px;
}
.release {
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
}
.profielUpld input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.profielUpld {
    overflow: hidden;
}
.fileleft {
    width: 70%;
}

.fileright {
    width: 30%;
    padding-left: 10px;
    padding-top: 26px;
}
.fileright button {
    width: auto;
    min-width: 100px;
}
.react-confirm-alert-overlay {
    z-index: 9999 !important;
}

.react-confirm-alert-body > h1 {
    font-size: 24px !important;
    margin-bottom: 21px !important;
}

.react-confirm-alert-body {
    font-size: 14px;
    text-align: center !important;
}

.react-confirm-alert-button-group {
    justify-content: center !important;
}

/*customer*/
.my_order_outer {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my_order_outer .tab-content {
    width: 100%;
}
.add_new_card .add_new_card_contant{
    max-width: 100%;
}
.add_new_card {
    height: auto;
}
.modal-content {
    box-shadow: 0px 5px 6px #00000029;
    background-color: #fff;
    border: 0;
}
.loader {
	height:50px;
	width:50px;
}
.loaderWRapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    z-index: -999;
    opacity: 0;
    background: rgb(255 255 255 / 68%);
    transition: all 0.3s ease-in-out;
}
.loading_page .loaderWRapper {
    z-index: 9999999;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.loaderCircle {
    border: calc(48px / 8) solid transparent;
    border-left: calc(48px / 8) solid #d20400;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    animation: spin .7s linear infinite;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.pass_rest_success {
    height: auto;
}
.liquor_store .liquor_store_03 .searchRlighshwo .browse_our_menu {
    border: 0;
    padding: 0;
    margin: 0;
}

.searchRlighshwo {
    position: absolute;
    right: 0;
}

.liquor_store_03 {
    position: relative;
}

.liquor_store .liquor_store_03 .browse_our_menu {
    justify-content: flex-start;
}
.recomDedBWrp{
    background-color: #fff;
}
.loadingSren {
    min-height: 300px;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.producliscont {
    width: calc(100% - 120px);
    padding-right: 15px;
}

.prolislbtn {
    width: 120px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.quntityPls {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.quntityPls.show {
    display: flex;
    display: -webkit-flex;
}
.product_informaction .product_content .prolislbtn  a.add_product {
    margin: 0;
}

.quntityPls input.qty {
    width: 40px;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    border: 1px solid #d20400;
    height: 35px;
    background: #d20400;
    color: #fff;
    outline: none;
}

.quntityPls .qty-minus, .quntityPls .qty-plus {
    font-size: 17px;
    background: #d20400;
    border: 1px solid #d20400;
    color: #fff;
    width: 29px;
    height: 35px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
}
.quntityPls .qty-minus {
    border-radius: 5px 0 0 5px;
}

.quntityPls .qty-plus {
    border-radius: 0 5px 5px 0;
}
.quntityPls .qty-minus:hover, .quntityPls .qty-plus:hover {
    background: #b50a07;
}
.cartMainWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #db3633;
    padding: 10px 0;
    z-index: 99;
}

.cartiNsiWRp {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.cartDetals {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    color: #fff;
    width: 50%;
    justify-content: flex-end;
}

.cartNwlmrp h4 {
    font-size: 15px;
    line-height: 37px;
    color: #fff;
    margin: 0;
}

.cartinsrp {
    font-size: 14px;
}

.cartinsrp span {
    padding: 0 10px;
}

.cartBntnsp a {
    padding: 10px 15px;
    background: #fff;
    width: 160px;
    display: block;
    text-align: center;
    color: #000;
    font-weight: 600;
}

.cartNwlmrp {
    width: 50%;
}
.prolislbtn.active .quntityPls {
    display: -moz-box;
    display: flex;
    display: -webkit-flex;
    -moz-box-pack: center;
}

.prolislbtn.active .add_product {
    display: none;
}
.vegtype {
    width: 17px;
    height: 17px;
    border: 1px solid #e1e1e1;
    padding: 3px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}


.vegtype:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dfdfdf;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vegtype.veg {
    border-color: #8bc34a;
}
.vegtype.veg:before {
    background: #8bc34a;
}
.vegtype.non-veg {
    border-color: #f44336;
}
.vegtype.non-veg:before {
    background: #f44336;
}
.StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
    box-shadow: rgb(50 50 93 / 15%) 0px 1px 3px, rgb(0 0 0 / 2%) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}
.sapremnth {
    color: #fff;
    padding: 11px 0;
}
footer.footer_outer {
    margin-top: 40px;
}
.carticonwt {
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.my_order_img {
    width: 70px;
}

.vendrodewrp {
    width: calc(100% - 100px);
}

.vendrStats {
    width: 100px;
    text-align: right;
}

.my_order_content {
    width: calc(100% - 70px);
}

.my_order .my_order01 .my_order_content span {
    line-height: normal;
}
.cardboxRps {
    background: #000;
    border-radius: 15px;
    color: #fff;
    padding: 50px 20px 30px;
}

.cardboxRps h3 {
    font-size: 20px;
    margin-bottom: 60px;
}

.carditpsbx {
    display: flex;
    display: -webkit-flex;
}

.cardHldrName {
    width: calc(100% - 50px);
}

.cardCvvsrn {
    width: 100px;
}

.carditpsbx h4 {
    font-weight: normal;
    color: #969696;
    font-size: 13px;
}

.carditpsbx p {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

form input, form input.form-control[type="file"]{
    padding: 17px 20px;
}
.mapviewWrapper {
    width: 100%;
    height: 300px;
    margin: 10px 0 30px;
}
.mapSearchinpt{
    margin-top: 20px;
    position: relative;
    z-index: 9;
}
.pac-container {
    z-index: 1111;
}
.markerGoogle img{
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%,0);
}
.profilIm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.profilIm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proillUPload {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.checkout .summer_outer .summer_box04 table tr td:nth-last-child(1) {
    text-align: right;
}
.location_content_address{
    width: 100%;
    padding: 0 15px;
}
.location_content_address a, .location_content_address a:not([href]) {
    color: #d20400;
    font-size: 14px;
    font-weight: 600;
}
.location_content_address a.setDefault {
    display: none;
}

.location_content_address:hover a {
    display: inline-block;
}
.address_group {
    opacity: 0.7;
}
.address_group.selectDefault, .address_group:hover {
    opacity: 1;
    font-weight: 600;
    color: #000;
}
.address_group .location_content a.setDefault {
    display: none;
}

.address_group:hover .location_content a.setDefault {
    display: inline-block;
}
.slider ul li .active a span {
    color: #d90d00;
}
.slider ul li .active a img {
    filter: brightness(0.1) sepia(0.9) saturate(6000%);
}
.cativerrbbTn {
    text-align: center;
    width: 100%;
}
.liquor_store .liquor_store_01 {
    background-size: cover;
}
.recommended_item_img img {
    width: 100px;
}

.recommended_content {
    display: none;
}
.recommended_content.active {
    display: block;
}
.liquor_store .liquor_store_01 a.btn-danger {
    background-color: #dc3545;
}
.liquor_store .liquor_store_01 a:hover{
    background-color: #1f9327;
}
.liquor_store .liquor_store_01 a.btn-danger:hover{
    background-color: #f00;
}
.notFoundWrapper {
    padding: 15px;
}

.notifmagebox img {
    max-width: 500px;
}
.nosthingContnet h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.nosthingContnet h4 {
    font-size: 15px;
    margin-bottom: 18px;
    font-weight: 400;
}

.nosthingContnet {
    text-align: center;
}

.counterRedict {
    font-size: 80px;
    color: #db3633;
}
.nosthingContnet h4 a {
    color: #db3633;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: underline;
}
.nothinfounxo {
    max-width: 1000px;
    margin: 0 auto;
}
.emptyCart {
    padding: 100px 0;
}

.emptyCart h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.emptyCart h4 {
    font-size: 16px;
    margin-bottom: 40px;
}
.emptyCart img { 
    max-width: 300px ; 
    margin-bottom: 20px ;
}
.stockOut {
    opacity: 0.5;
}
.chatMainbody {
    max-height: 300px;
    overflow: auto;
    padding: 25px;
}

.chat_message.receiverChat {
    justify-content: flex-end;
}

.chat_message.receiverChat span.time-right {
    width: 100%;
    text-align: right;
    display: block;
}

.chat_message_outer .chat_message.receiverChat  .chat_message_contant {
    padding-left: 0;
    padding-right: 25px;
}
.chatsubmitblwpr {
    display: flex;
    display: -webkit-flex;
}

.chatSubmit {
    width: 150px;
}

.chatSubmit button {
    width: 100%;
    border-radius: 0 5px 5px 0;
    padding: 12px 0;
}

.chatInput {
    width: calc(100% - 150px);
}

.chatInput input {
    border-radius: 5px 0 0 5px;
}
.idrsibackWrp {
    border: 1px dashed #e1e1e1;
    height: 200px;
    padding: 5px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.idrsibackWrp input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 9;
    opacity: 0;
}

.idTextfild {
    font-size: 17px;
    font-weight: 600;
    color: #b9b9b9;
}
.imgPreview {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.imgPreview img {
    max-height: 100%;
}

.codeVeryfy {
    font-size: 13px;
    background: #d20400;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0;
    width: 100px;
}

.couponWrapper {
    position: relative;
}
.couponWrapper input {
    border-radius: 0;
    border: 0;
}
form .coupActive input.form-control {
    background: #f8fff9;
    border: 1px solid #90f3a0;
    border-radius: 0;
}
form .coupActive input.form-control {
    background: #f8fff9;
    border: 1px solid #90f3a0;
    border-radius: 0;
}

.coupinpyt {
    width: 100%;
    position: relative;
}

.coupinpyt a {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%,-50%);
}
.aply_cpuoWrp {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    position: relative;
    background: #f1fff1;
    border: 1px dashed #8bc34a;
    padding: 5px 0;
    align-items: center;
}

.coupicon {
    width: 50px;
    text-align: center;
}

.coupi_remove {
    width: 50px;
    text-align: center;
}

.coupicodebox {
    width: calc(100% - 100px);
    padding: 9px 15px;
    font-weight: bold;
}
.notification_popup_inner .custom01 {
    width: 100%;
    border-radius: 0;
}
.delivAddrScrll {
    max-height: 330px;
    overflow: auto;
    margin-bottom: 25px;
}

.scroller::-webkit-scrollbar {
    width: 10px;
}

.scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #db3633;
    outline: 1px solid #db3633;
    border-radius: 15px;
}
.pass_rest_success .pass_rest_success_contant {
    margin: 0 auto;
}
header .after_login ul li, header .logo img {
    cursor: pointer;
}
.cardHldrName img {
    max-height: 40px;
}
span.vendorAvlv {
    margin-left: 10px;
    color: red !important;
}
.notAvail {
    opacity: 0.6;
}
.couponListwrp {
    position: absolute;
    right: 110px;
    font-size: 13px;
    top: 16px;
}

.summer_box01 {
    position: relative;
}
.starsRating span {
    color: #d20400 !important;
    font-size: 18px !important;
}
.notifyHead h4 {
    font-size: 14px;
    margin: 0;
}

.notifyTimer {
    font-size: 12px;
}

.notifyHead {
    margin-bottom: 9px;
}

.notifyDescrp p {
    font-size: 14px;
    margin-bottom: 0;
}

.notifyInside {
    max-height: 50vh;
    overflow: auto;
}
header.header {
    position: sticky;
    top: 0;
    background: #fff;
}
ul.ordr_status {
    display: flex;
    display: -webkit-flex;
    border-top: 2px solid #e3e3e3;
    margin-top: 30px;
}

ul.ordr_status li {
    font-size: 13px;
    width: 25%;
    position: relative;
    padding-top: 24px;
    padding: 24px 15px 0px;
    text-align: center;
}

ul.ordr_status li i {
    position: absolute;
}

ul.ordr_status li i {
    position: absolute;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    top: -15px;
    background: #fff;
    color: #000;
}

ul.ordr_status li:before {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    top: -2px;
}

ul.ordr_status li.active:before {
    background: #000;
}

ul.ordr_status li.active i {
    color: #fff;
    background: #000;
    border-color: #fff;
}

ul.ordr_status li p {
    font-size: 10px;
}
.ordDetaheadWRp {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
}

.goBack {
    width: 60px;
    text-align: right;
}

.goHelp {
    width: 60px;
    text-align: right;
}

.ordrInfor {
    width: calc(100% - 60px);
}

.ordrInfor h3 {
    font-size: 16px;
    margin: 0;
    font-weight: 900;
}
.ordrInfor h3 span {
    font-size: 13px;
}
.all_reviews_img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}











